<main>
	
	<div class="messages-container">
		<div id="filterCheckBoxes">
			<form id="filterMessages" action="filterMessages" method="post">
				<input type="checkbox" class="cbox" name="category0" id="showV-gtrafik" value="showV-gtrafik"> <label for="cbox2">Vägtrafik</label>
				<input type="checkbox" class="cbox" name="category1" id="showKollektivtrafik" value="showKollektivtrafik"> <label for="cbox2">Kollektivtrafik</label>
				<input type="checkbox" class="cbox" name="category2" id="showPlaneradSt-rning" value="showPlaneradSt-rning"> <label for="cbox2">Planerad störning</label>
				<input type="checkbox" class="cbox" name="category3" id="show-vrigt" value="show-vrigt"> <label for="cbox2">Övrigt</label>
				<button>Filtrera</button>
			</form>
		</div>
		{{#each messageCollection}}
			<div class="message" id="{{id}}">
				<div class="location">
					{{title}} - {{categoryText}}
				</div>
				<div class="button message-button">
					<div class="center">Visa på karta</div>
				</div>
				<div class="exact-location hidden">
					{{#if exactlocation}}
						{{exactlocation}} <hr />
					{{/if}}
				</div>
				<div class="created-date hidden">
					{{createddate}}
				</div>
				<div class="description hidden">
					{{#if description}}
						{{description}}
					{{/if}}
				</div>
				<div class="coordinates latitude hidden">
					{{latitude}}
				</div>
				<div class="coordinates longitude hidden">
					{{longitude}}
				</div>
				<div class="buttons">
					<div class="expand down-arrow">
						<div class="down-arrow">&#8645;</div>
					</div>
				</div>
			</div>
		{{/each}} 
	</div>	
	<div id="map-container">
		<div id="map"></div>
	</div>
	
</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYt8wyj-woB5PQPYKUXci-KGPDlyjb_4">
</script>	
<script type="text/javascript" src="scripts/map.js"></script>