<main>
	
	<div id="map-container">
		<div id="map"></div>
	</div>
	
	<div class="accidents-container">
		{{#each accidentCollection}}
			<div class="accident">
				<div class="location">
					{{title}}
				</div>	
				<div class="exact-location">
					{{exactlocation}}
				</div>
				<div class="description">
					{{description}}
				</div>
				<div class="latitude">
					{{latitude}}
				</div>
				<div class="longitude">
					{{longitude}}
				</div>
			</div>
		{{/each}} 
	</div>	
</main>



<script type="text/javascript">
	var coordinates = {
		lat: {{lat}},
		lng: {{lon}}
	}

	var map;
	function initMap() {
	  map = new google.maps.Map(document.getElementById('map'), {
	    center: coordinates,
	    zoom: 5
	  });

	  var marker = new google.maps.Marker({
  		map: map,
  		animation: google.maps.Animation.DROP,
  		position: coordinates
	  });

	}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYt8wyj-woB5PQPYKUXci-KGPDlyjb_4&callback=initMap">
</script>	