<div id="map-container">
	<div id="map"></div>
</div>

<div class="accidents-container">


		<div class="accident">
			<div class="location">
				Plats: 
			</div>	
			<div>
				Exakt plats:
			</div>
			<div>
				Beskrivning: 
			</div>
			<div>
				lat
			</div>
			<div>
				long
			</div>
		</div>
		<div class="accident">
			<div class="location">
				Plats: 
			</div>	
			<div>
				Exakt plats:
			</div>
			<div>
				Beskrivning: 
			</div>
			<div>
				lat
			</div>
			<div>
				long
			</div>
		</div>

{{!-- 
	{{#each accidentCollection}}

		<div class="accident">
			<div class="location">
				Plats: {{title}}
			</div>	
			<div>
				Exakt plats: {{exactlocation}}
			</div>
			<div>
				Beskrivning: {{description}}
			</div>
			<div>
				{{latitude}}
			</div>
			<div>
				{{longitude}}
			</div>
		</div>
	{{/each}} --}}
</div>	



<script type="text/javascript">
	var coordinates = {
		lat: {{lat}},
		lng: {{lon}}
	}

	var map;
	function initMap() {
	  map = new google.maps.Map(document.getElementById('map'), {
	    center: coordinates,
	    zoom: 5
	  });

	  var marker = new google.maps.Marker({
  		map: map,
  		animation: google.maps.Animation.DROP,
  		position: coordinates
	  });

	}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYt8wyj-woB5PQPYKUXci-KGPDlyjb_4&callback=initMap">
</script>	