<main>
	
	<div class="messages-container">
		{{#each messageCollection}}
			<div class="message" id="{{id}}">
				<div class="location">
					{{title}}
				</div>	
				<div class="button message-button">
					<div class="center">Visa på karta</div>
				</div>
				<div class="exact-location hidden">
					{{#if exactlocation}}
						{{exactlocation}} <hr />
					{{/if}}
				</div>
				<div class="created-date hidden">
					{{createddate}}
				</div>
				<div class="description hidden">
					{{#if description}}
						{{description}}
					{{/if}}
				</div>
				<div class="coordinates latitude hidden">
					{{latitude}}
				</div>
				<div class="coordinates longitude hidden">
					{{longitude}}
				</div>
				<div class="buttons">
					<div class="expand down-arrow">
						<div class="down-arrow">&#8645;</div>
					</div>
				</div>
			</div>
		{{/each}} 
	</div>	
	<div id="map-container">
		<div id="map"></div>
	</div>
	
</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYt8wyj-woB5PQPYKUXci-KGPDlyjb_4">
</script>	
<script type="text/javascript" src="scripts/map.js"></script>