<main>
	
	<div class="messages-container">
		{{#each messageCollection}}
			<div class="message" id="{{id}}">
				<div class="location">
					{{title}}
				</div>	
				<div class="exact-location">
					{{#if exactlocation}}
						{{exactlocation}} <hr />
					{{/if}}
				</div>
				<div>
					{{createddate}}
				</div>
				<div class="description">
					{{#if description}}
						{{description}}
					{{/if}}
				</div>
				<div class="coordinates latitude">
					{{latitude}}
				</div>
				<div class="coordinates longitude">
					{{longitude}}
				</div>
				<div>
					<input type="button" class="message-button {{id}}" value="visa">
				</div>
			</div>
		{{/each}} 
	</div>	
	<div id="map-container">
		<div id="map"></div>
	</div>
	
</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYt8wyj-woB5PQPYKUXci-KGPDlyjb_4">
</script>	
<script type="text/javascript" src="scripts/map.js"></script>